target/
.svn
.metadata/
.recommenders/
.settings/
.classpath
.project
maven.*/
services/
servers/
NativeDemo/
Netbeans/
gisContainer/
ServicesTests/
RemoteSystemsTempFiles/

*.bat
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse
